<section>
  <h2>To do: </h2>
  <ul>
    <% @list.each do |item| %>
      <li><strong>do: </strong><%= item.title %> <strong>completed :</strong> <%= item.completed ? 'done' : 'not done yet' %></li>
      <%= link_to 'see more', show_one_path(item) %>
    <% end %>
  </ul>
</section>
