<section>
  <article class="show-article">
    <h2>Task: <%= @task.title%> </h2>
    <p><strong>to do: </strong><%= @task.details%></p>
    <p><strong>completed: </strong> <%= @task.status %></p>
    <%= link_to 'edit', edit_path %>
  </article>
</section>
