.show-article a {
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  border-radius: 0.3rem;
}

.show-article a:hover {
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.2);
}
